* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: beige;
}

.logo {
    max-width: 5rem;    
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(172, 100, 6);
}

.abrir-menu,
.cerrar-menu { 
    display: none;
}
@media screen and (max-width:550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu {
        color: rgb(88, 185, 69);
    }

    .cerrar-menu {
        color: rgb(88, 185, 69);;
    }
    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(240, 177, 59);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(172, 100, 6, 0.267);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        color: rgb(138, 80, 4);
    }
} 

body {
    background-color: rgb(192, 95, 39);
}

.titulo {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;

}


p {
    color: rgb(55, 0, 255);
    font-family: sans-serif;
    text-align: justify;
    font-size: 30px;
}

.slider-box {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}

.texto {
    position:absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: rgb(254, 253, 255);
}

.texto h2 {
    font-size: 45px;
    margin-bottom: 35px;
}

.slider-box img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0; }
    20% {margin-left: 0; }

    25% {margin-left: -100%; }
    45% {margin-left: -100%; }

    50% {margin-left: -200%; }
    70% {margin-left: -200%; }

    75% {margin-left: -300%; }
    100% {margin-left: -300%; }
}

@media(max-width:991px) {
 
    body {
        padding: 30px;
    }

    .slider-box {
        width: 100%;
    }

    .texto {
        top: 50px;
        padding: 0;
    }
}
